* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    text-decoration: none;

}

body{
    background-image: url(../Premium-projetc/cupt.jpg) ;
    background-size: cover;
    background-repeat: no-repeat;
    background-position: center center;
    

}
.cabecalho {
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-around;
    padding: 24px;
}
.cabevalho-img {
    height: 72px ;

}

.cabecalho-menu {
    display: flex;
    gap: 30px;

}

.cabecalho-menu-item {
    font-family: 'Salara', sans-serif;
    color: #fff2e7;
    font-weight: 400;
    font-size: 15px;
}

.conteudo{
    border-top: 0.4px solid #e8ae329f;
    margin-bottom: 48px;
    padding-top: 35px;

}

.conteudo-principal {
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-around;
    
}

.conteudo-principal-escrito {
    display: flex;
    flex-direction: column;
    gap: 32px;

}

.conteudo-principal-escrito-titulo {
    font-family: 'Righteous', cursive;
    font-weight: 400;
    font-size: 36px;
    color: #e8ae32;
}

.conteudo-principal-escrito-subtitulo {

    font-family: 'Salara', sans-serif;
    font-size: 20px;
    font-weight: 400;
    color: #ffffff;
    
}

.conteudo-principal-escrito-butao {
    background-color: #df9a06;
    width: 185px;
    height: 67px;
    border: none;
    box-shadow: 4px 5px 4px #c7c7c0db;
    border-radius: 10px;
    font-family: 'Salara', sans-serif;
    font-size: 22px;
    font-weight: 400;
    color: #f3f2f2b6;

}

.conteudo-principal-escrito-butao:hover {
background-color: rgba(263, 214, 196, 0.53)

}

.conteudo-principal-img {
    height: 400px;
}

.conteudo-secundario {
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 22px;
    margin-top: 40px;

}

.conteudo-secundario-titulo { 
    border-top: 0.4px solid #e9a105;
    padding-top: 38px;
    font-family: 'Righteous', cursive;
    font-size: 24px;
    font-weight: 400;
    color: #e8ae32b9;

}